$color-primario: #f5c5f1;
$color-secundario: #ecc3ea85;
$color-fondo: rgb(245, 219, 241);
$fuente-principal: "Markazi Text", serif;
@mixin movil {
    @media (min-width: 480px) {
      @content;
    }
  }
  
  @mixin tablet {
    @media (min-width: 600px) {
      @content;
    }
  }
  
  @mixin escritorio {
    @media (min-width: 1024px) {
      @content;
    }
  }
  
  // Estilos generales
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: $color-fondo;
    overflow-x: hidden;
  }
  
  .titulo {
    text-align: center;
    font-size: 70px;
    color: #f6f6f6;
    text-decoration: underline;
    font-family: $fuente-principal;
  }
  
  header {
    background-color: #e3abe085;
    display: flex;
    gap: 20px;
    
    &.header-index {
      background-color: #0000001e;
    }
  
    &.header-contacto {
      display: flex;
      gap: 300px;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: nowrap;
      overflow-x: hidden;
    }
  }
  
  .parrafo-index {
    font-size: 40px;
    color: $color-primario;
  }
  
  .parrafo-contacto, .mensaje-contacto {
    text-align: center;
    font-size: 40px;
    background-color: #fcf2fb;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }
  
  .ropa-index, .ropa-colection, .accesorios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .ropa-index article, .ropa-colection article, .accesorios article {
    background-color: #f5f5f5;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
  }
  
  .accesorios img {
    object-fit: contain;
    border-radius: 10px;
  }
  
  .carrito-accesorios, .more-container {
    padding: 10px;
    text-align: center;
    font-size: 20px;
    background-color: $color-secundario;
  }
  
  .img-fluid:hover {
    transition: transform 0.3s ease;
    transform: scale(1.05);
  }
  
  // Media Queries
  @include movil {
    body {
      background-color: rgb(253, 219, 250);
      font-size: 16px;
    }
  }
  
  @include tablet {
    body {
      background-color: rgb(134, 83, 97);
      font-size: 18px;
    }
  }
  
  @include escritorio {
    body {
      background-color: rgb(241, 220, 240);
    }
  }