.parrafo-contacto, .mensaje-contacto {
    text-align: center;
    font-size: 40px;
    background-color: #fcf2fb;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }