$color-primario: #f5c5f1;
$color-secundario: #f6bfe685;
$color-fondo: rgb(252, 223, 247);
$color-header: #fbfbfb;
$color-nav: #000000;
$fuente-principal: "Markazi Text", serif;
$tamano-titulo: 70px;
$tamano-subtitulo: 50px;
$transicion-suave: 0.3s ease;